<!DOCTYPE html>
<html>
  <head>
    <title>Covid19 GR trend</title>
    <link rel="icon" href="https://www.google.com/s2/favicons?domain=css-tricks.com">


    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



    <body>
<input type="hidden" id="dates" value="<%= dates %>">
<input type="hidden" id="total_cases" value="<%= total_cases %>">
<input type="hidden" id="recovered" value="<%= recovered %>">
<input type="hidden" id="deaths" value="<%= deaths %>">
<input type="hidden" id="news" value="<%= news %>">

      <div id="plot-death-rec" style="width:720px;height: 500px;margin:5% 32%;">
        <br>
        <div id="news_div" style="color:white; align:center">

      </div>





        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/plot.js"></script>
        <script src="/js/sort_array.js"></script>
        <script src="/js/sorted_idx.js"></script>


</div>

    </body>

  </html>
